.title {
  color: #fff;
  font-size: 70px;
  margin: 0px;
  background-color: #1B4F72;
  text-align: center;
}

.link {
  font-size: 30px;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
